Breast-Cancer-Detection-CSV-data/.ipynb_checkpoints
Breast-Cancer-Detection-Mammography/all-mias
Breast-Cancer-Detection-Mammography/proper-dataset

Skin-Cancer-Detection/data
Skin-Cancer-Detection/TrainedModel.h5